@layer reset, base, layout, compnents, utilities;

@layer reset{
*{
    box-sizing: border-box;
}
body, h1, p{
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
button {
    border: none;
    padding: 0;
    background-color: transparent;
}
}

@layer base {
    /* остановилась на шрифтах  */
       button{
        cursor: pointer;
       } 
    }
